<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Apellido</th>
      <th scope="col">Nombre</th>
      <th scope="col">Nacimiento</th>
      <th scope="col">Direccion</th>
      <th scope="col">Telefono</th>
      <th scope="col">Pais</th>
      <th scope="col" colspan="2" class="text-center">Manage</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let persona of baseDePersonas">
      <td scope="row">{{ persona.apellido }}</td>
      <td>{{ persona.nombre }}</td>
      <td>{{ persona.nacimiento | date: "dd/MM/yyyy" }}</td>
      <td>{{ persona.direccion }}</td>
      <td>{{ persona.telefono }}</td>
      <td>{{ persona.pais }}</td>
      <td colspan="2" class="text-center">
        <button class="mr-3 btn btn-info" (click)="onEditarPersona(persona)">
          Editar
        </button>
        <button class="ml-3 btn btn-danger" (click)="onRemoverPersona(persona)">
          Eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>
